.html-variable, .html-marker {
  display: none;
}
#body {
  padding: 1em;
  border: 5px solid #ddf;
  border-radius: 10px;
}
#tab-labels {
  /* display: inline; */
  margin-bottom: .5em;
  padding: 5px;
  border: 1px solid #33e;
  border-radius: 5px;
}
.tab-label {
  margin-right: 5px;
  padding: 2px;
  border: 1px solid #8ce;
  border-radius: 2.5px;
  color: #33e;
  font-weight: bold;
}
#modes {
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
}
.mode {
  display: none;
}
#nao-joints {
  background-color: gray;
  border: 1px solid black;
  border-radius: 20px;
}
#nao-joints .inner {
  position: relative;
  padding: 1em;
  /*border: 1px solid black;*/
}
#nao-joints-forms {
  position: relative;
  width: 47.5%;
  background-color: #ccc;
  border: 1px solid black;
  border-radius: 15px;
}
#nao-joints-show, #nao-joints-edit {
  diplay: block;
  width: 95%;
  padding: .5em;
  /*border-style: solid;
  border-width: 2px;*/
}
#nao-joints-show {
  margin: .5em;
  /*background-color: #f88;
  border-color: red;*/
}
#nao-joints-edit {
  position: absolute;
  left: .5em;
  top: 0;
  /*background-color: #8f8;
  border-color: green;*/
}
#nao-body {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 47.5%;
  /*border: 1px solid black;
  border-radius: 15px;*/
}
#nao-body img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 15px;
}
